<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_message" class='panel panel-danger'>
      <div class='panel-heading'>
        <%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:
      </div>
      <div class='panel-body'>
        <ul>
        <% @listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if notice %>
    <p id='notice'><%= notice %></p>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: 'sr-only' %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title (required)' %>
  </div>
  <div class="form-group">
    <%= f.label :web_site, class: 'sr-only' %>
    <%= f.text_field :web_site, class: 'form-control', placeholder: 'Web Site' %>
  </div>
  <div class="form-group">
    <%= f.label :minimum_age, class: 'sr-only' %>
    <%= f.text_field :minimum_age, class: 'form-control', placeholder: 'Minimum Age' %>
  </div>
  <div class="form-group">
    <%= f.label :maximum_age, class: 'sr-only' %>
    <%= f.text_field :maximum_age, class: 'form-control', placeholder: 'Maximum Age' %>
  </div>

  <fieldset class='nested-form'>
  <legend>Deadline</legend>
    <%= f.fields_for :deadlines do |ff| %>
      <div class='form-group'>
        <%= ff.label :date, class: 'sr-only' %>
        <%= ff.date_field :date, class: 'form-control', placeholder: 'Deadline' %>
      </div>
      <div class='form-group'>
        <%= ff.label :description, class: 'sr-only' %>
        <%= ff.text_field :description, class: 'form-control', placeholder: 'Details' %>
      </div>
    <% end %>
  </fieldset>

  <div class="form-group">
    <%= f.label :description, class: 'sr-only' %>
    <%= f.text_area :description, class: 'form-control', rows: 15, placeholder: 'Description' %>
  </div>

  <div class="form-group actions">
    <%= f.submit class: 'btn btn-lg btn-block btn-primary' %>
  </div>
<% end %>
