<div class='container'>
  <div class='row'>
    <div class='col-lg-10 col-lg-offset-2'>
      <h2 class='page_header'>Listings</h2>

      <p id="notice"><%= notice %></p>

      <% if @user.admin? %>
        <%= button_to 'Add Listing', new_listing_path, method: :get, class: 'btn btn-lg btn-block btn-primary' %><br>
      <% end %>

      <div id='listings' class='panel panel-default'>
        <div class='panel panel-body'>

          <ul class='list-group'>
            <% Listing.all.each do |listing| %>
              <li id='listing-<%= listing.id %>' class='listing list-group-item'>
                <h3><%= link_to listing.title, listing %></h3>
                <p><%= listing.description %></p>
                <% if @user.admin? %>
                <div>
                  <span class='pull-left'><%= link_to 'Edit', edit_listing_path(listing) %></span>
                  <span class='pull-right'><%= link_to 'Delete', listing_path(listing), method: :delete, confirm: 'Delete this listing?' %></span><br>
                </div>
                <% end %>
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
