<div class='container'>
  <div class='row'>
    <div class='col-lg-8 col-lg-offset-2'>
      <div id='listing-<%= @listing.id %>' class='panel panel-primary'>
        <div class='panel-heading'>
          <i class='fa fa-newspaper-o fa-fw'></i>  View Listing
        </div>
        <div class='panel-body'>
          <h2>
            <%= @listing.title %>
            <span class='pull-right'>
              <%= link_to raw('<i class="fa fa-star fa-fw"></i>'), user_favorites_path(current_user, favorite: { listing_id: @listing.id, user_id: current_user.id }), method: :post, title: 'Add to Favorites' %>
            </span>
          </h2> 
          <p id="notice"><%= notice %></p>

          <table class='listing_body'>
            <tr>
              <th>Web Site:</th>
              <td><%= @listing.web_site %></td>
            </tr>

            <% if @listing.deadlines.count > 0 %>
              <tr>
                <th>Deadline:</th>
                <td><%= long_display_date(@listing.deadlines.first.date) %> (<%= @listing.deadlines.first.description %>)</td>
              </tr>
            <% end %>

            <tr>
              <th>Description:</th>
              <td><%= raw(description_html(@listing.description)) %></td>
            </tr>
          </table>

          <span class='pull-left'><%= link_to 'View All', listings_path %></span>
          <% if current_user.admin? %>
            <span class='pull-right'><%= link_to 'Edit', edit_listing_path(@listing) %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
