<div class='container'>
  <div class='row'>
    <p id="notice"><%= notice %></p>
    <h1 class='page-header'>My Tasks</h1>
  </div>

  <% backlog = @tasks.select {|task| task.status.blank? } %>
  <% in_progress = @tasks.select {|task| task.status == 'In Progress' } %>
  <% blocking = @tasks.select {|task| task.status == 'Blocking' } %>

  <div id='kanban_board' class='row'>
    <div id='backlog_tasks' class='col-lg-4 kanban-col'>
      <div class='panel panel-primary dash-widget kanban-column'>
        <div class='panel-heading'><i class='fa fa-tasks fa-fw'></i> Backlog</div>
        <div class='panel-body'>
          <ul>
            <li class='quick-add-form' data-status=''>
              <%= form_for([@tasks.first.user, Task.new]) do |f| %>
                <div class='input-group'>
                  <%= f.label :title, class: 'sr-only' %>
                  <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
                  <span class='input-group-btn'>
                    <%= f.button class: 'btn btn-default', title: 'Create' do %>
                      <i class='fa fa-plus fa-fw'></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </li>
            <% backlog.each do |task| %>
              <li class='task'>
                <span class='pull-right edit-task'>
                  <%= link_to raw("<i class='fa fa-times fa-fw'></i>"), task_path(task), method: :delete, title: 'Delete' %>
                  <%= link_to raw("<i class='fa fa-check fa-fw'></i>"), task_path(task, task: {:status => 'Complete'}), method: :patch, title: 'Mark Complete' %>
                </span>
                <h3 class='task-list-title'><%= link_to task.title, task %></h3>
                <table>
                  <% if task.display_deadline %>
                    <tr>
                      <th>Deadline:</th>
                      <td><%= task.display_deadline %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <th>Priority:</th><td><%= task.priority %></td>
                  </tr>
                  <% unless task.notes.blank? %>
                    <tr>
                      <th>Notes:</th><td><%= task.notes %></td>
                    </tr>
                  <% end %>
                </table>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div id='in_progress_tasks' class='col-lg-4 kanban-col'>
      <div class='panel panel-green dash-widget kanban-column'>
        <div class='panel-heading'><i class='fa fa-road fa-fw'></i> In Progress</div>
        <div class='panel-body'>
          <ul>
            <li class='quick-add-form' data-status='In Progress'>
              <%= form_for([@tasks.first.user, Task.new]) do |f| %>
                <div class='input-group'>
                  <%= f.label :title, class: 'sr-only' %>
                  <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
                  <span class='input-group-btn'>
                  <%= f.hidden_field :status, value: 'In Progress' %>
                  <%= f.button class: 'btn btn-default', title: 'Create' do %>
                    <i class='fa fa-plus fa-fw'></i>
                  <% end %>
                  </span>
                </div>
              <% end %>
            </li>
            <% in_progress.each do |task| %>
              <li class='task'>
                <span class='pull-right edit_task'>
                  <%= link_to raw("<i class='fa fa-times fa-fw'></i>"), task_path(task), method: :delete, title: 'Delete' %>
                  <%= link_to raw("<i class='fa fa-check fa-fw'></i>"), task_path(task, task: {:status => 'Complete'}), method: :patch, title: 'Mark Complete' %>
                </span>
                <h3 class='task-list-title'><%= link_to task.title, task %></h3>
                <table>
                  <% if task.display_deadline %>
                    <tr>
                      <th>Deadline:</th>
                      <td><%= task.display_deadline %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <th>Status:</th><td><%= task.status %></td>
                  </tr>
                  <tr>
                    <th>Priority:</th><td><%= task.priority %></td>
                  </tr>
                  <% unless task.notes.blank? %>
                    <tr>
                      <th>Notes:</th><td><%= task.notes %></td>
                    </tr>
                  <% end %>
                </table>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div id='blocking_tasks' class='col-lg-4 kanban-col'>
      <div class='panel panel-yellow dash-widget kanban-column'>
        <div class='panel-heading'><i class='fa fa-minus-circle fa-fw'></i> Blocking</div>
        <div class='panel-body'>
          <ul>
            <li class='quick-add-form' data-status='Blocking'>
              <%= form_for([@tasks.first.user, Task.new]) do |f| %>
                <div class='input-group'>
                  <%= f.label :title, class: 'sr-only' %>
                  <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
                  <span class='input-group-btn'>
                  <%= f.hidden_field(:status, value: 'Blocking') %>
                    <%= f.button class: 'btn btn-default', title: 'Create' do %>
                      <i class='fa fa-plus fa-fw'></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </li>
            <% blocking.each do |task| %>
              <li class='task'>
                <span class='pull-right edit_task'>
                  <%= link_to raw("<i class='fa fa-times fa-fw'></i>"), task_path(task), method: :delete, title: 'Delete' %>
                  <%= link_to raw("<i class='fa fa-check fa-fw'></i>"), task_path(task, task: {:status => 'Complete'}), method: :patch, title: 'Mark Complete' %>
                </span>
                <h3 class='task-list-title'><%= link_to task.title, task %></h3>
                <table>
                  <% if task.display_deadline %>
                    <tr>
                      <th>Deadline:</th>
                      <td><%= task.display_deadline %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <th>Status:</th><td><%= task.status %></td>
                  </tr>
                  <tr>
                    <th>Priority:</th><td><%= task.priority %></td>
                  </tr>
                  <% unless task.notes.blank? %>
                    <tr>
                      <th>Notes:</th><td><%= task.notes %></td>
                    </tr>
                  <% end %>
                </table>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
