<div class='container'>
  <div class='row'>
    <p id="notice"><%= notice %></p>
    <h1 class='page-header'>My Tasks</h1>
  </div>

  <% backlog = @tasks.select {|task| task.status.blank? } %>
  <% in_progress = @tasks.select {|task| task.status == 'In Progress' } %>
  <% blocking = @tasks.select {|task| task.status == 'Blocking' } %>

  <div id='kanban_board' class='row'>
    <div id='backlog_tasks' class='col-lg-4 kanban-col'>
      <div class='panel panel-primary dash-widget kanban-column'>
        <div class='panel-heading'><i class='fa fa-tasks fa-fw'></i> Backlog</div>
        <div class='panel-body'>
          <% backlog.each do |task| %>
            <li class='task'>
              <%= link_to task.title, task %><br>
              <strong>Deadline:</strong> <%= task.display_deadline %><br>
              <strong>Status:</strong> <%= task.status %><br>
              <strong>Priority:</strong> <%= task.priority %><br>
              <strong>Notes:</strong> <%= task.notes %><br>
            </li>
          <% end %>
        </div>
      </div>
    </div>
    <div id='in_progress_tasks' class='col-lg-4 kanban-col'>
      <div class='panel panel-green dash-widget kanban-column'>
        <div class='panel-heading'><i class='fa fa-road fa-fw'></i> In Progress</div>
        <div class='panel-body'>
          <% in_progress.each do |task| %>
            <li class='task'>
              <%= link_to task.title, task %><br>
              <strong>Deadline:</strong> <%= task.display_deadline %><br>
              <strong>Status:</strong> <%= task.status %><br>
              <strong>Priority:</strong> <%= task.priority %><br>
              <strong>Notes:</strong> <%= task.notes %><br>
            </li>
          <% end %>
        </div>
      </div>
    </div>
    <div id='blocking_tasks' class='col-lg-4 kanban-col'>
      <div class='panel panel-yellow dash-widget kanban-column'>
        <div class='panel-heading'><i class='fa fa-minus-circle fa-fw'></i> Blocking</div>
        <div class='panel-body'>
          <% blocking.each do |task| %>
            <li class='task'>
              <%= link_to task.title, task %><br>
              <strong>Deadline:</strong> <%= task.display_deadline %><br>
              <strong>Status:</strong> <%= task.status %><br>
              <strong>Priority:</strong> <%= task.priority %><br>
              <strong>Notes:</strong> <%= task.notes %><br>
            </li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <%= link_to 'New Task', new_user_task_path(current_user) %>
  </div>
</div>
