<!-- Row of 4 Large Top-Dash Widgets -->
<div id='dashboard-top-widgets' class='row'>
  
  <!-- First dashboard widget -->
  <div class='col-lg-3 col-md-6'>
    <div class='panel panel-primary dash-widget internal-link' data-target='tasks' data-name='tasks'> 
      <div class='panel-heading'>
        <div class='row'>

          <!-- This is the div with the widget's icon -->
          <div class='col-xs-3'>
            <i class='fa fa-tasks fa-4x'></i>
          </div>

          <!-- This is the div with the number and kind of items -->
          <div class='col-xs-9 text-right'>

            <% incomplete_tasks = @user.tasks.reject {|t| t.status == 'Complete' } %>
            <% count = incomplete_tasks.count %>

            <div class='huge'><%= count %></div>
            <div>Incomplete <%= count == 1 ? 'Task' : 'Tasks' %>!</div>
          </div> <!-- end col-xs-9 text-right' -->

        </div>
      </div>
      <a href='#'>
        <div class='panel-body'>
          <span class='pull-left'>View Details</span>
          <span class='pull-right'>
            <i class='fa fa-arrow-circle-right'></i>
          </span>
        </div>
      </a>
    </div>
  </div> 
  <!-- End first top dash widget -->

  <!-- Second top dash widget -->
  <div class='col-lg-3 col-md-6'>
    <div class='panel panel-green dash-widget' data-name='deadlines'>
      <div class='panel-heading'>
        <div class='row'>

          <!-- This is the div with the widget's icon -->
          <div class='col-xs-3'>
            <i class='fa fa-clock-o fa-4x'></i>
          </div>

          <!-- This is the div with the number and kind of items -->
          <div class='col-xs-9 text-right'>
            <div class='huge'>8</div>
            <div>Upcoming Deadlines!</div>
          </div> <!-- end col-xs-9 text-right' -->

        </div>
      </div>
      <a href='#'>
        <div class='panel-body'>
          <span class='pull-left'>View Details</span>
          <span class='pull-right'>
            <i class='fa fa-arrow-circle-right'></i>
          </span>
        </div>
      </a>
    </div>
  </div> 
  <!-- End second top dash widget -->

  <!-- Third top dash widget -->
  <div class='col-lg-3 col-md-6'>
    <div class='panel panel-yellow dash-widget' data-name='appointments'>
      <div class='panel-heading'>
        <div class='row'>

          <!-- This is the div with the widget's icon -->
          <div class='col-xs-3'>
            <i class='fa fa-calendar-o fa-4x'></i>
          </div>

          <!-- This is the div with the number and kind of items -->
          <div class='col-xs-9 text-right'>
            <div class='huge'>4</div>
            <div>New Appointments!</div>
          </div> <!-- end col-xs-9 text-right' -->

        </div>
      </div>
      <a href='#'>
        <div class='panel-body'>
          <span class='pull-left'>View Details</span>
          <span class='pull-right'>
            <i class='fa fa-arrow-circle-right'></i>
          </span>
        </div>
      </a>
    </div>
  </div> 
  <!-- End third top dash widget -->

  <!-- Fourth top dash widget -->
  <div class='col-lg-3 col-md-6'>
    <div class='panel panel-red dash-widget' data-name='recommendations'>
      <div class='panel-heading'>
        <div class='row'>

          <!-- This is the div with the widget's icon -->
          <div class='col-xs-3'>
            <i class='fa fa-check fa-4x'></i>
          </div>

          <!-- This is the div with the number and kind of items -->
          <div class='col-xs-9 text-right'>
            <div class='huge'>16</div>
            <div>Recommendations!</div>
          </div> <!-- end col-xs-9 text-right' -->

        </div>
      </div>
      <a href='#'>
        <div class='panel-body'>
          <span class='pull-left'>View Details</span>
          <span class='pull-right'>
            <i class='fa fa-arrow-circle-right'></i>
          </span>
        </div>
      </a>
    </div>
  </div> 
  <!-- End fourth top dash widget -->

</div>
<div class='row'>
  <div class='col-lg-4'> <!-- task panel -->
    <div id='task-panel' class='panel panel-primary dash-widget'>
      <div class='panel-heading'>
        <i class='fa fa-tasks fa-fw'></i>  My Tasks <span class='pull-right toggle-widget'><i class='fa fa-minus fa-fw'></i></span>
      </div>
      <div class='panel-body'>
        <ul class='task-list ui-sortable'>
          <li class='quick-add-form not-sortable'>
            <%= form_for([@user, Task.new]) do |f| %>
              <div class='input-group'>
                <%= f.label :title, class: 'sr-only' %>
                <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
                <span class='input-group-btn'>
                  <%= f.button class: 'btn btn-default', title: 'Create' do %>
                    <i class='fa fa-plus fa-fw'></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </li>

          <% tasks_to_display = incomplete_tasks.reject {|t| t.status == 'Blocking' } %>

          <% tasks_to_display[0..9].each do |task| %>
            <li class='task'>
              <span class='pull-right edit_task'>
                <%= link_to raw("<i class='fa fa-times fa-fw'></i>"), task_path(task), method: :delete, title: 'Delete' %>
                <%= link_to raw("<i class='fa fa-pencil fa-fw'></i>"), edit_task_path(task), title: 'Edit Task' %>
                <%= link_to raw("<i class='fa fa-check fa-fw'></i>"), task_path(task, task: {:status => 'Complete'}), method: :patch, title: 'Mark Complete' %>
              </span>
              <h3 class='task-list-title'><%= link_to task.short_title(40), task, title: task.title %></h3>
              <table>
                <% if task.display_deadline %>
                  <tr>
                    <th>Deadline:</th>
                    <td><%= task.display_deadline %></td>
                  </tr>
                <% end %>
                <% unless task.status.blank? %>
                  <tr>
                    <th>Status:</th><td><%= task.status %></td>
                  </tr>
                <% end %>
                <tr>
                  <th>Priority:</th><td><%= task.priority %></td>
                </tr>
                <% unless task.notes.blank? %>
                  <tr>
                    <th>Notes:</th><td><%= task.notes %></td>
                  </tr>
                <% end %>
              </table>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div> <!-- end task panel -->
  <div class='col-lg-8'></div> <!-- calendar -->
</div> <!-- end row -->