<header id='top' class='header'>
  <div class='text-vertical-center'>
    <h1>Welcome to Tessitura!</h1>
    <h2>Career Management for Classical Singers</h2>
    <br>
    <%= link_to 'Find Out More', '#about', class: 'btn btn-dark btn-lg' %>
  </div>
</header>

<%= render 'about' %>

<%= render 'features' %>

<%= render 'register' %>

<%= render 'footer' %>