<!-- Login Form Goes Here -->
<div id='shade'>
  <form id='new_session'>
    <div class='form-elements'>
      <div class='form group'>
        <input class='form-control' type='text' name='email' title='E-mail' placeholder='E-mail'>
      </div>
      <div class='form-group'>
        <input class='form-control' type='password' name='password' title='Password' placeholder='Password'>
      </div>
      <div class='checkbox'>
          <input name='remember' type='checkbox' value='Remember Me' checked><label>Remember Me</label>
        <span class='pull-right'>
          <a class='login-help-link' href='#'>Need Help?</a>
        </span>
      </div>
      <button type='submit' class='btn btn-dark btn-lg btn-block'>Sign In</button>
    </div>
  </form>
</div>

<header id='top' class='header'>
  <div class='text-vertical-center'>
    <h1>Welcome to Tessitura!</h1>
    <h2>Career Management for Classical Singers</h2>
    <br>
    <%= link_to 'Find Out More', '#about', class: 'btn btn-dark btn-lg' %>
  </div>
</header>

<%= render 'about' %>

<%= render 'features' %>

<%= render 'register' %>

<%= render 'footer' %>